@model LocaKey.Core.DTO.AboutDTO

<h4>Category</h4>
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="About-label">
                اضافة
                <small>ادارة الاعدادات</small>
            </h3>
        </div>

    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="email" class="control-label"></label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="descriptionAr" class="control-label"></label>
                        <input asp-for="descriptionAr" class="form-control" />
                        <span asp-validation-for="descriptionAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="descriptionEn" class="control-label"></label>
                        <input asp-for="descriptionEn" class="form-control" />
                        <span asp-validation-for="descriptionEn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="descriptionFr" class="control-label"></label>
                        <input asp-for="descriptionFr" class="form-control" />
                        <span asp-validation-for="descriptionFr" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="logo" class="control-label"></label>
                        <input type="file" asp-for="logo" class="form-control summernote" />
                        <span asp-validation-for="logo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="title" class="control-label"></label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="phone" class="control-label"></label>
                        <input asp-for="phone" class="form-control" />
                        <span asp-validation-for="phone" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">الرجوع الي الخلف</a>
</div>


@section Scripts {
    <script src="js/pages/crud/forms/editors/summernote.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function() {
            $('.summernote').summernote();
        });

    </script>
}