
@model LocaKey.Data.Entity.About

<section class="goals">
    <div class="container">
        <div class="col-md-12">
            <p>
                <i class="fa-solid fa-house"></i> Home >
                <a href="#" style="color: #F57A38;">ABOUT US</a>
            </p>
        </div>
        <div class="row">

            <div class="col-md-12">
                <h1>ABOUT US</h1>
                <p>
                    Loca key ' nt stock company engaged in the sale and maintenance of all types of desktop computers, laptops and related accessories company is also working in the field of maintenance contracts with institutions, companies and extended networks and provide all the supplies for the targeted sectors in the field of technology.
                    The company specializes in laptop maintenance and supply of spare parts for them.
                    The company has a special section for the provision of all the organs of retail shops and businesses of (Barcode – thermal printers – displays the price – cash fund, etc.)
                </p>
                <h1>Target</h1>
                <p>
                    Audiences governmental institutions, public institutions and companies, institutions and private companies,
                    individuals, we are working on maintenance contracts to multi-task as there are multiple sections serve different areas.
                </p>

            </div>
            <div>
            </div>
</section>
<!-- End goals -->
                </section>
<br>
<br>
<br>
<!-- Start goals -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 textt">

                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            Our Work<br>
                            Culture Company’s
                        </h1>

                        <p>
                            Like Steve Jobs quotes, “Design is not just what
                            it looks like and feels like. Design is how it works”. We always try to make a great output by this culture:
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><i class="bi bi-check mb-5"></i>Fast Delivery</p>
                                <p><i class="bi bi-check"></i>Fast Delivery</p>
                                <p><i class="bi bi-check"></i>Fast Delivery</p>
                            </div>
                            <div class="col-md-6">
                                <p><i class="bi bi-check"></i>Fast Delivery</p>
                                <p><i class="bi bi-check"></i>Fast Delivery</p>
                                <p><i class="bi bi-check"></i>Fast Delivery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/asset/img/about.svg" width="500px">
                    </div>
                </div>

            </div>




        </div>
    </div>

</section>