@model LocaKey.Data.Entity.Product


<section id="fullproduct">
    <div class="container">
        <div class="col-md-12">
            <p>
                <i class="fa-solid fa-house"></i> Home >
                <a href="#" style="color: #F57A38;">ABOUT US</a>
            </p>
            <h1>Shop Categories</h1>
        </div>
        <div class="row">
            <div class="col-md-6 slider-product">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />

                        </div>

                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />

                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />

                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />

                        </div>
                        <div class="swiper-slide">
                            <img src="~/Images/@Model.imege" />

                        </div>

                    </div>
                </div>



            </div>
            <div class="col-md-6">
                <p>
                    @Html.Raw(Model.description_ar)
                </p>

            </div>

            <!-- <i class="bi bi-heart-fill p-4 hart"></i> -->
            <!-- Button trigger modal -->

            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-cart3 "></i>Add To Cart</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Your Cart</h5>
                    <div class="carticon">
                        <i class="bi bi-cart3 "></i>
                    </div>

                    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->

                </div>
                <hr class="linemodel">
                <div class="offcanvas-body" id="favarite-user">
                  
                    <partial name="_AddCart" />

                    @* @await Component.InvokeAsync("AddCart",
                    new {
                    id=Model.Id
                    }
                    )*@
                </div>
            </div>
            <hr>
            <div class="col-md-3">
                <p class="card-text text-center price">
                    <span class="text-decoration-line-through">$199.00</span><span class="text-primary">
                        @Model.price_ar
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    Share   <i class="bi bi-facebook p-1"></i><i class="bi bi-snapchat p-1"></i><i class="bi bi-whatsapp p-1"></i></i>  <i class="bi bi-facebook p-1"></i>


                </p>
            </div>
        </div>


    </div>

</section>


<section id="description">
    <div class="container">
        <div class="row">
            <div class="col-md-12 textt">
                <h1>Description</h1>
                <hr>
                <p>

                </p>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
            </div>
            <div class="col-md-6">


                <p>

                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.description_ar)
            </div>
        </div>
    </div>





</section>
@section Scripts{
    <script>

        function create() {
            $.ajax({
                url: 'cart/AddCart',
                type: 'post',
                data: { id: '@Model.Id' },
                //data: { id: '885bf94a-7959-4dd2-8f10-b684eae9a871' },
                success: function() {

                }
            });
        }

    </script>
}