@model LocaKey.Core.DTO.CouponsDTO

<h4>Category</h4>
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
              اضافة كبون
              
            </h3>
        </div>

    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="code" class="control-label"></label>
                        <input asp-for="code" class="form-control" />
                        <span asp-validation-for="code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="De_activation" class="control-label"></label>
                        <input type="checkbox" asp-for="De_activation" class="form-control" />
                        <span asp-validation-for="De_activation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="discountType" class="control-label"></label>
                        <select asp-for="discountType" asp-items="@new  SelectList(Enum.GetNames(typeof(LocaKey.Data.Entity.Coupons.DiscountType)))" class="form-control">  </select>

                            <span asp-validation-for="discountType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">الرجوع للخلف</a>
</div>