
@model LocaKey.Core.DTO.LanguageDTO

<h4>Category</h4>
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
               ADD Category
                <small>Manege Add nwe category</small>
            </h3>
        </div>
      
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Arabic" class="control-label"></label>
                        <input asp-for="Arabic" class="form-control" />
                        <span asp-validation-for="Arabic" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="English" class="control-label"></label>
                        <input asp-for="English" class="form-control" />
                        <span asp-validation-for="English" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="France" class="control-label"></label>
                        <input asp-for="France" class="form-control" />
                        <span asp-validation-for="France" class="text-danger"></span>
                    </div>
                </div>
            </div>
           <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>